html {
    font-size: 14px;
    font-family: Verdana, Tahoma, sans-serif;	
    background-color: rgb(255, 233, 203);
}

header {
    display: flex;
    background-color: hsla(32, 100%, 86%, 0.884);
    height: 100px;
    align-items: center;
    text-align: center;
}

header :hover {
    background-color: rgba(238, 126, 41, 0.637);
    transition: all 2s ease-out;
}

header h1 {
    flex: 1;
}

header img {
    height: 100%;
}

.container_taburi .submeniu {
    display:none;
    position: absolute;
    background-color: rgb(255, 209, 157);
    text-align: center;
    
}
.container_taburi li:hover .submeniu {
    display: block;
    padding: 0;
}

.container_taburi .submeniu li{
    display: block;
    padding: 0;
}

.container_taburi > li{
    padding: 10px;
	font-size: 17px;
    display: inline-block;
}

.container_taburi {
	background-color: rgb(255, 209, 157);
	display: flex;
	gap: 1rem;
	overflow: hidden;
    flex-direction: "row";
    list-style-type: none;
    height: 50px;
    align-items: center;
  }
  
.container_taburi a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration:solid;
	font-size: 17px;
	transition: all 0.5s ease-out;
}

.container_taburi a:hover{
	background:rgba(184, 74, 0, 0.676);
    text-shadow:0px 0px 4px rgb(252, 105, 72);
	}

.container_taburi a.active{
	background:rgba(238, 126, 41, 0.637);
	text-shadow:0px 0px 4px rgb(255, 177, 159);
	}

.galerie {
    display: flex;
}

.galerie button:not(:last-child) {
    margin-right: 4px;
}

.paint {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
}

.paint img {
    height: 100%;
    max-width: 20rem;
}

.paint .content {
    flex: 1;
    margin-left: 1rem;
}

.paint .content h1 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.paint .content p {
    font-size: 1rem;
    margin: 0.5rem 0;
}

form{
    border: 2px dashed rgb(151, 69, 35);
    background-color: bisque; 
    width: fit-content;
}
input::not([type="checkbox"]) {
    display: block;
  }
