html {
    font-size: 14px;
    font-family: Verdana, Tahoma, sans-serif;
}

header {
    display: flex;
    background-color: hsla(46, 100%, 81%, 0.884);
    height: 100px;
    align-items: center;
    text-align: center;
}

header h1 {
    flex: 1;
}

header img {
    height: 100%;
}

#intro {
    text-align: center;
    background-image: url("https://image.shutterstock.com/image-illustration/beige-cream-abstract-background-smooth-260nw-305411870.jpg");
    background-size: cover;
}

.container_taburi {
    background-color: rgb(255, 209, 157);
    display: flex;
    gap: 0.5rem;
    overflow: hidden;
}

.container_taburi a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: solid;
    font-size: 17px;
    transition: all 0.5s ease-out;
}

.container_taburi a:hover {
    background: rgba(184, 74, 0, 0.676);
    text-shadow: 0px 0px 4px rgb(252, 105, 72);
}

.container_taburi a.active {
    background: rgba(238, 126, 41, 0.637);
    text-shadow: 0px 0px 4px rgb(255, 177, 159);
}

.galerie {
    display: flex;
}

.galerie button:not(:last-child) {
    margin-right: 4px;
}

.paint {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
}

.paint img {
    height: 100%;
    max-width: 20rem;
}

.paint .content {
    flex: 1;
    margin-left: 1rem;
}

.paint .content h1 {
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.paint .content p {
    font-size: 1rem;
    margin: 0.5rem 0;
}