html {
	font-size:14px;
	font-family:Verdana, Tahoma, sans-serif;
	background-color: rgb(255, 233, 203);
}

header{
    display:flex;    
	background-color: hsla(32, 100%, 86%, 0.884);
    height: 100px;
    align-items:center;
    text-align: center;
}

header h1{
    flex:1;
}

header img{
    height:100%;
}

header :hover {
    background-color: rgba(238, 126, 41, 0.637);
    transition: all 2s ease-out;
}

#intro{
	text-align: center;
	background-image: url("https://image.shutterstock.com/image-illustration/beige-cream-abstract-background-smooth-260nw-305411870.jpg");
	background-size: cover;
}
#intro section{
	overflow: hidden;
	white-space: nowrap;
  	margin: 0 auto;
  	animation: 
    	typing 3.5s steps(40, end);
}

@keyframes typing {
	from { width: 0 }
	to { width: 100% }
  }

.container_taburi .submeniu {
    display:none;
    position: absolute;
    background-color: rgb(255, 209, 157);
    text-align: center;
    
}
.container_taburi li:hover .submeniu {
    display: block;
    padding: 0;
}

.container_taburi .submeniu li{
    display: block;
    padding: 0;
}

.container_taburi > li{
    padding: 10px;
	font-size: 17px;
    display: inline-block;
}

.container_taburi {
	background-color: rgb(255, 209, 157);
	display: flex;
	gap: 1rem;
	overflow: hidden;
    flex-direction: "row";
    list-style-type: none;
    height: 50px;
    align-items: center;
  }
  
.container_taburi a {
	float: left;
	color: black;
	text-align: center;
	padding: 14px 16px;
	text-decoration:solid;
	font-size: 17px;
	transition: all 0.5s ease-out;
}

.container_taburi a:hover{
	background:rgba(184, 74, 0, 0.676);
    text-shadow:0px 0px 4px rgb(252, 105, 72);
	}

.container_taburi a.active{
	background:rgba(238, 126, 41, 0.637);
	text-shadow:0px 0px 4px rgb(255, 177, 159);
	}

#informatii section p{
    border: 2px solid rgb(128, 0, 0);
    padding:5px;
    max-width:400px;
	height: fit-content;
	text-align: center;
	border-radius: 15px;
	font-size: larger;
    }

#informatii .gridLayout{
	width: max-content;
	height: max-content;
	display: grid;
	align-items: center;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: repeat(1fr);
	padding-left: 60px;
	padding-top: 15px;
	gap: 30px;
	grid-template-areas: 
	" . a . "
	" b img c"
	" . d . "

}

#informatii .i.a{
	grid-area: a;
}
#informatii .i.b{
	grid-area: b;
}
#informatii .i.img{
	max-width: 410px;
	grid-area: img;
}
#informatii .i.c{
	grid-area: c;
}
#informatii .i.d{
	grid-area: d;
}


